.fromdata{
  text-align: center;
  /* align-items: center; */
  box-shadow: 0 4px 8px 0 rgba(4, 15, 88, 0.9),
    0 6px 20px 0 rgb(26, 69, 225);
    border-radius: 30px;
  height: 340px;
  width: 500px;
  margin-left: 30%;
  background-color: cadetblue;
  margin-top: 80px;
}
.tabledata{
  margin-left: 30%;
  justify-content:space-between;
}